<section class="main items">
  <article class="item">
    <header>
      <a href="#"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Feugiat et faucibus</h3>
    </header>
    <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
    <ul class="actions">
      <li><a href="#" class="button">More</a></li>
    </ul>
  </article>

  <article class="item">
    <header>
      <a href="#"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Feugiat et faucibus</h3>
    </header>
    <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
    <ul class="actions">
      <li><a href="#" class="button">More</a></li>
    </ul>
  </article>

  <article class="item">
    <header>
      <a href="#"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Feugiat et faucibus</h3>
    </header>
    <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
    <ul class="actions">
      <li><a href="#" class="button">More</a></li>
    </ul>
  </article>
</section>

<hr>

<section id="intro" class="main">
  <span class="icon fa-book major"></span>
  <h2></h2>
  <p>Tutaj dodawaj nowe przepisy do swojej kolekcji, zostanie on automatycznie zapisany, <br>
    a Ty będziesz go widział po zalogowaniu na swoje konto</p>
  <ul class="actions">
    <li><i class="button big" type="button" (click)="isAddedButtonEnabled = !isAddedButtonEnabled">Dodaj nowy przepis</i></li>
  </ul>
  <div id="recipeAdd" *ngIf="isAddedButtonEnabled">



      <div class="halfInput">
        <label for="name">Podaj nazwę przepisu</label>
        <input   type="text" id="name" >
      </div>

      <div class="halfInput">
        <label for="photo">Podaj link do zdjecia</label>
        <input type="text" id="photo" [(ngModel)]="photo">
      </div>

      <br>
        <p>Dodaj składnik</p>
      <div class="icon fa-plus major" (click)="addIngredient()"></div>

      <div class="halfInput" *ngFor="let ingredient of ingredients">
        <label [for]="ingredient.name">Podaj nazwę skladnika</label>
        <input   type="text" [id]="ingredient.name" [(ngModel)]="ingredient.name">
        <label [for]="ingredient.amount">Podaj ilość składnika</label>
        <input type="text" [id]="ingredient.amount" [(ngModel)]="ingredient.amount">
        <br>
        <hr>
        <br>
      </div>
  </div>
</section>



